@{
    ViewData["Title"] = "Erişim Engeli";
}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning my-5">
            <h3><i class="fa-solid fa-ban"></i> Bu alana erişim yetkiniz bulunmamaktadır.</h3>
        </div>
    </div>
</div>