@model MyPasswordChangeViewModel

@{
    ViewData["Title"] = "Şifremi Değiştir";
}

<hr />
<div class="row">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info" role="alert"><strong>@Html.Raw(TempData["Message"])</strong></div>
    }
    <div class="col-md-4">
        <form asp-action="MyPasswordChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Şifre Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
